body{

    background-color: black;
    /*background-image: url("http://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781501180989/the-outsider-9781501180989_hr.jpg");*/
    background-image: url("../images/light-green-texture-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-color:white
}